<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Meine Welt</title>
    </head>
    <body>
      <div>
          <h1><b><a href="/">Lina's Blog- Welcome to the world of the one and only Kartoffel</a></b></h1>
      </div>

      {% for post in posts %}
          <div>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
              <p>published: {{ post.published_date }}</p>
          </div>
      {% endfor %}
    </body>
</html>
